.container {
  background-color: lightblue;
  width: 980px;
  height: 430px;
  display: flex;
}
.menu {
  background-color: black;
  width: 980px;
  height: 47px;
  display: flex;
  /* justify-content: space-between; */
}
a {
  text-decoration: none;
}
.dropdown {
  padding-left: 20px;
  padding-top: 10px;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content > p :hover {
  background-color: rgb(0, 174, 255);
  font-size: 20px;
}
.right {
  display: flex;
  padding-left: 400px;
  font-size: 20px;
}
.home {
  padding-top: 10px;
}
.home:hover {
  font-size: 25px;
}
.about {
  padding-left: 15px;
  padding-top: 10px;
}
.about:hover {
  font-size: 25px;
}
#grow {
  padding-left: 15px;
}
#grow:hover {
  font-size: 25px;
}
#connect {
  padding-right: 15px;
  margin-left: 15px;
}
#connect:hover {
  font-size: 25px;
}
#give {
  padding-right: 15px;
}
#give:hover {
  font-size: 25px;
}
.circle {
  background-color: purple;

}
